<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
      xml:lang="en" lang="en">

<head>
    <title></title>
</head>
<body>

<wicket:panel>
    <div class="panel">
        <div class="panelcontent">

            <h2>User Login</h2>

            <form action="#" wicket:id="loginForm">
                <label for="username">Username</label><br/>
                <input class="loginfield" id="username" name="username" wicket:id="username"/><br/>
                <label for="password">Password</label><br/>
                <input class="loginfield" id="password" type="password" wicket:id="password" name="password"/><br/>
                <input class="loginbutton" type="submit" value=""/>
                <a href="#">forgot password</a>
            </form>
        </div>

    </div>

</wicket:panel>

</body>
</html>