<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title></title>
</head>
<body>
<wicket:panel>
    <div class="panel">
        <div class="panelcontent">

            <h2>User menu</h2>

            <p>You are currently logged in as <a class="loggedinas" wicket:id="accountLink" href="#"><span
                    wicket:id="username">Ellen</span></a></p>
            <ul class="usermenu">
                <li>
                    <a href="#" wicket:id="start">Start</a>
                </li>
                <wicket:enclosure child="accountLink2:link">
                    <li wicket:id="accountLink2">
                        <a wicket:id="link" href="#">Account</a>
                    </li>
                </wicket:enclosure>
                <wicket:enclosure child="changePasswordLink:link">
                    <li wicket:id="changePasswordLink">
                        <a wicket:id="link" href="#">Change password</a>
                    </li>

                </wicket:enclosure>
                <wicket:enclosure child="listCasesLink:link">
                    <li wicket:id="listCasesLink">
                        <a wicket:id="link" href="#">List Cases</a>
                    </li>
                </wicket:enclosure>
                <wicket:enclosure child="sortQuestionsLink:link">
                    <li wicket:id="sortQuestionsLink">
                        <a wicket:id="link" href="#">Sort Questions</a>
                    </li>
                </wicket:enclosure>
                <wicket:enclosure child="logout">
                    <li>
                        <a wicket:id="logout" href="#">Logout</a>
                    </li>
                </wicket:enclosure>
            </ul>
        </div>
    </div>
</wicket:panel>
</body>
</html>